<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <!-- Bootstrap CSS File -->
  <link href="{% static "css/bootstrap.css"%}" rel="stylesheet">

  <!-- Main Css file for App -->
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  <meta charset="utf-8">
  <title>thanks you</title>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h2 class="display-3">Thank You!</h2>
      <p class="lead"><strong>I will get back to you soon in your email</strong>
        for further inquiries please contact me through my phone number in the Portfolio.</p>
      <hr>
      <p>
        Asante Sana
      </p>

    </div>
  </div>
</body>

</html>
